<h1>Feelings#index</h1>
<p>Find me in app/views/feelings/index.html.erb</p>

<ul>
<% @feelings.each do |feeling| %>
  <li>
    <span><%= feeling.name.titleize %> <%= random_emoji %></span>
    <%= button_to "Invalidate Feeling", feeling_path(feeling), method: :delete %>
  </li>
<% end %>
</ul>